<% let count = 0
if (locals.flash) { %>
  <div class="flashes">
    <% if (locals.flash.forEach) {
      locals.flash.forEach(f => { %>
        <p
        id="flash<%= count %>"
        class="flash <%= f.class %>">
          <%= f.text %>
          <button onclick="removeElement('#flash<%= count %>')">
            X
          </button>
        </p>
      <% })
    } else if (locals.flash) { %>
      <p
      id="flash<%= count %>"
      class="flash <%= locals.flash.class ? locals.flash.class : 'info' %>">
        <%= locals.flash.text ? locals.flash.text : locals.flash %>
        <button onclick="removeElement('#flash<%= count %>')">
          X
        </button>
      </p>
    <% } // end of if %>
  </div>
<% } // end of if %>
