
<section id="top" class="img fixedBck desk">
  <article class="white textCenter">
    <h1>{{page.lang.fr.pageTitle}}</h1>
  </article>

  <!--img
  src="images/photos/desk.jpg"
  alt="desk.jpg"
  class="left blurred white"-->

  <article class="white margin left">

    <h2>{{ page.lang.fr.introTitle }}</h2>

    <p>
      {{{ page.lang.fr.intro }}}
    </p>

  </article>
</section>

<section class="coloured green">
  <article class="textCenter">

    <h3>
      {{{ page.lang.fr.catchyWebsites }}},<br/>
      {{{ page.lang.fr.catchyPrograms }}},<br/>
      {{{ page.lang.fr.catchyHire }}}
    </h3>
    <h2>
      {{{ page.lang.fr.catchyContact }}}
    </h2>
  </article>
</section>

<section id="minigames" class="white">
  <article class="">
    <h2>Exemples et Mini-jeux</h2>
    <p>
      Voilà quelques exemples de ce que je peux faire avec du javascript
    </p>
  </article>
  <div class="flexRow">
    <article id="tictactoe" class="flexCol">
      <h3>Un petit morpion ?</h3>
      <blockquote>
        Essayez de battre mon <strong>IA</strong> <br/>
        Attention ! elle est coriace ! <br/>
        <a href="/tictactoe">-> Plus d'informations</a>
      </blockquote>

      {{> examples/tictactoe }}

    </article>
  </div>
</section>
